# WordPress Core Ignores
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
wp-config.php
/.htaccess
*.log

# Ignore all uploads
/wp-content/uploads/

# Ignore ALL plugins 
/wp-content/plugins/

# Ignore ALL themes EXCEPT your custom theme
/wp-content/themes/*
!/wp-content/themes/
!/wp-content/themes/rabbit_school/

# Tailwind & Node.js Ignores
**/node_modules/
**/.DS_Store

# Ignore compiled CSS files
style.css
assets/css/style.css